<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Pokedex </title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <h1>Edit Pokemon Page</h1>
    <form action="/pokemon/<%= index %>?_method=PUT" method="POST">
        <!--  NOTE: the form is pre-populated with values for the server-->
        Name: <input type="text" name="name" value="<%=pokemon.name%>" /><br />
        Color: <input type="text" name="color" value="<%=pokemon.type%>" /><br />
        Is Ready To Eat: <input type="checkbox" name="readyToEat" <% if(fruit.readyToEat===true){ %> checked <% } %> />
            <br />
            <input type="submit" name="" value="Submit Changes" />
    </form>
</body>

</html>