<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<title>Pokedex | <%= tabTitle %></title>
    <!-- ============= FONTS ============= -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:300,400,700&display=swap" rel="stylesheet">
    <!-- ============= STYLES ============= -->
    <link rel="stylesheet" href="/css/styles.css">


  </head>
  <body>
    <div class="body-overlay">
      <!-- ============ HEADER ============ -->
        

      
      <!-- ============ MAIN ============ -->
      <main>
        <div>
          <h1>fooBar()</h1>
          <ul>
            <% for(let i = 0; i < pokemon.length; i++) { %>
              <li><a href="/pokemon/<%=i%>"><%= pokemon[i].id %></a></li>
            <% } %>
          </ul>





>


    
      <!-- ============ FOOTER ============ -->
      <footer> 
      
      </footer>
    </div>
  </body>
</html>
