<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <title>Pokedex App</title>
</head>
<body>
    <h1>Welcome to the Pokedex index!</h1>

    <main>
      <table class="u-full-width">




    <a href="/pokemon/new">Create a new Pokemon</a>
    
    <% for(let i = 0; i < pokemon.length; i++) { %>
       
       <tr>
<td>   <%= pokemon[i].name %> </td>

<td>   <%= pokemon[i].name %> </td>




       </tr>
        <p>
                
            </a>
        </p>
        

        <!-- AADd EDIT LINK HERE -->
        <a href="/pokemon/<%=i %>/edit">Edit</a>
        
        <!-- ADD DELETE FORM HERE -->
        <form action="/pokemon/<%= i %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
    <% } %>


      </table>
    </main>
</body>
</html>