<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits App</title>
</head>
<body>
    <h1>Add a New Fruit</h1>
    <a href="/fruits">Back to the fruits index</a>
    <form action="/fruits" method="post">
        Name: <input type="text" name="name"><br>
        Color: <input type="text" name="color"><br>
        Is ready to eat <input type="checkbox" name="readyToEat"><br>
        <input type="submit" value="Create Fruit">
    </form>
</body>
</html>